*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

/* Nav/Header */
header{
    position: fixed;
    width: 100%;    
    display: flex;
    justify-content: center;
    background-color: #ff6900;
    z-index: 2;
    /* box-shadow:0 0 0 10px grey; */
}

/* Navigation bar */
    nav{
        width: 80%;
        /* [Debug] */
        height: 50px;

        /* border: #000 solid 1px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .clothing{
            width: 300px;
            /* border: #000 solid 1px; */
            
        }
        
            .genre{
                display: inline-block;
                margin-right: 2%;
                color: #fff;
            }

        .booleando{
            width: auto;
            border: #000 solid 1px;
           
        }

            .logo{
                width: 130px;
                height: 30px;
                background-image: url(../img/boolean-logo.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

        .utilities{
            width: 300px;
            /* border: #000 solid 1px; */
               
        }
    
            .lcons{
                width: 300px;
                height: 50px;
                /* background-color: blueviolet; */
                display: flex;
                justify-content: right;
                align-items: center;
                color: #fff;
            }

            .sideicon{
                margin-left: 2%;
            }






/* Main/Shop */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: ; */
}

    .shop{
        width: 80%;
        /* [Debug] */

        margin: 5% 0;
        /* border: #000 solid 1px; */
        /* background-color: antiquewhite; */
    }

        .row{
            display: flex;
        }

            .cloth{
                width: calc(100% / 3);
                margin-bottom: 2%;
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 1
            }

                .sale{
                    position: absolute;
                    margin-top: 120%;
                    width: fit-content;
                    padding: 1% 2%;
                    background-color: red;
                    color: #fff;
                }

                .sostenibility{
                    position: absolute;
                    margin-top: 120%;
                    margin-left: 15%;
                    width: fit-content;
                    padding: 1% 2%;
                    background-color: green;
                    color: #fff;
                }

                #sx-down{
                    margin-left: 0;
                }

                .pref{
                    position: absolute;
                    margin-top: 5%;
                    margin-left: 93%;
                    width: fit-content;
                    padding: 1% 2%;
                    background-color: #fff;
                    color: #000;
                }

                .pref:hover {
                    color:red;
                }


            img{
                width: 100%;
                height: 100%;
            }

            .sx{
                margin-right: 2%;
            }

            .dx{
                margin-left: 2%;
            }


                .description{
                    line-height: 18px;
                }
            
                .bold-des{
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 0;
                }

                .price{
                    font-weight: bold;
                    color:red;
                    display: inline-block;
                    margin-right: 1%;
                }

                .old-price{
                    text-decoration: line-through;
                }

                    #product1:hover{
                        content: url(../img/1b.webp);
                    }

                    #product2:hover{
                        content: url(../img/2b.webp);
                    }

                    #product3:hover{
                        content: url(../img/3b.webp);
                    }

                    #product4:hover{
                        content: url(../img/4b.webp);
                    }

                    #product5:hover{
                        content: url(../img/5b.webp);
                    }

                    #product6:hover{
                        content: url(../img/6b.webp);
                    }

/* Footer */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}

    .details{
        width: 80%;
        /* [Debug] */
        height: 50px;

        /* border: #fff solid 1px; */
        display: flex;
        justify-content: space-between;
        margin: 2% 0;
    }

        .agency{
            width: 30%;
            display: flex;
            flex-direction: column;
            color: #fff;
        }

            #name-agency{
                font-weight: bold;
            }

            #buttons{
                display: flex;
            }

            .legal-buttons{
                display: inline-block;
                margin-right: 3%;
            }

            #find-us{
                text-align: right;
            }

            .social-icon{
                display: inline-block;
                margin-left: 2%;
                font-size: 20px;
            }

            #social-buttons{
                text-align: right;
            }